.*{
    
    box-sizing: border-box;
}

body, html{
    
    margin: 0;
    padding: 0;
}

.form{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    
}

.container{
    
    display: flex;
    flex-direction: row;
/*    background-color: chocolate;*/
}

.submit{
    
    background-color: blue;
    margin-top: auto;
    
}